.flex-section{
    width: 100%;
    padding: 80px 0px;

}

.container{
    width: 1140px;
    margin: 0 auto;
}
 
.flex-box{
 
    height: 65vh;
    border: 3px solid #ff000f;
    display: flex;
    justify-content: center;
   
}



.box{

    width: 120px;
    height: 120px;
    background: darkblue;
    margin: 10px;
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 120px;

}

.box3{
    background-color: white;
    color: rgb(56, 175, 196);
   
   align-self: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}


.box1{
    order: 3;
}

.box2{
    order: 1;
}

.box3{
    order: 2;
}


.social-icons{
    text-align: center;
}

.social-icons ul{
 
 margin: 0;
 padding: 0;

}

.social-icons ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    background: darkblue;
    /* color: white; */
    line-height: 60px;
    border-radius: 20px 0px;
    transition: 0.7s;
}




.social-icons ul li:hover {

    background:  rgb(139, 67, 0);
 
    border-radius: 0px 20px;
    transition: 0.7s;

}



.social-icons ul li a{

}

.social-icons ul li a i{
    color: white;
    font-size: 20px;

}


.social-icons ul li:hover .fa{
  color: rgb(74, 236, 52);  
}




    





















